* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  height: 450px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: azure;
}

.ans {
  text-align: right;
  background-color: darkgrey;
  color: azure;
  padding: 50px 20px;
}

.control-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  height: 100%;
  justify-content: center;
}

.cBtn {
  width: 24.7%;
  text-align: center;
  height: 24%;
  background-color: rgb(209, 209, 209);
  padding: 20px 10px;
}

.zero {
  width: 49.499999%;
}

.or {
  background-color: rgb(255, 158, 48);
}

.navs {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.links {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.qu {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 20px;
}
